<div class="nav-bar">
  <div></div>
  <div style="display: flex; align-items: center; gap: 8px">
    <button matButton>Categories</button>
    <input type="text" matInput placeholder="Search..." class="search-bar" />
    <p>Tech on NAMSERA</p>
  </div>
  <div style="display: flex; align-items: center; gap: 12px">
    <button matIconButton matTooltip="Shopping Cart" aria-label="Shopping Cart">
      <i style="font-size: 24px" class="bi bi-cart"></i>
    </button>
    <button matButton>Log In</button>
    <button matButton="filled" class="custom-btn">Sign Up</button>
    <!-- <button mat-icon-button (click)="themeService.toggleTheme()">
      <mat-icon>
        {{ themeService.currentTheme() === 'dark' ? 'dark_mode' : 'light_mode' }}
      </mat-icon>
    </button> -->
  </div>
</div>
