<div style="width: 100%; height: 50px; background-color: #17254e; color: whitesmoke">
  <div style="display: flex; gap: 24px; margin-left: 12px; justify-content: center">
    <p><i class="bi bi-telephone-fill" style="margin-right: 4px"></i> +(84) 923905635</p>
    <p>|</p>
    <p><i class="bi bi-mailbox2-flag" style="margin-right: 4px"></i> namndh22406@st.uel.edu.vn</p>
    <p>|</p>
    <p>
      <i class="bi bi-pin-map-fill" style="margin-right: 4px"></i> Số 669 Đỗ Mười, khu phố 13,
      phường Linh Xuân, TP.HCM
    </p>
  </div>
</div>
<!-- <div class="nav-bar">
  <div style="display: flex; align-items: center; gap: 8px">
    <button matButton>Categories</button>
    <input type="text" matInput placeholder="Search..." class="search-bar" />
    <p>Tech on NAMSERA</p>
  </div>
  <div style="display: flex; align-items: center; gap: 12px">
    <button matIconButton matTooltip="Shopping Cart" aria-label="Shopping Cart">
      <i style="font-size: 24px" class="bi bi-cart"></i>
    </button>
    <button matButton>Log In</button>
    <button matButton="filled" class="custom-btn">Sign Up</button>
  </div>
</div> -->
