.copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70.3px;
    background-color: #222222;
    color: #fff;
    font-size: 17px;
}

.footer {
    width: 100%;
    height: 505px;
    background-color: #0E2A46;
    background-image: url("../../../assets/imgs/bg-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.icon-footer-btn {
    color: #704FE6;
    font-size: 17px;
    background-color: #E9E2FF;
    width: 45px;
    height: 45px;
}

.desc-footer {
    width: 400px;
    font-size: 17px;
    line-height: 28px;
}

.gallery-img {
    width: 86px;
    height: 86px;
    border-radius: 5px;
    object-fit: cover;
}